@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

*{
    font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

@theme{
  --color-dark: #1A1A1A;
  --color-font: #333333;
  /* --color-primary:#0742A6; */
  --color-primary: #7C3AED;
  --color-secondary: #EFA434;
}

.wave-border {
  position: absolute;
  inset: -40%;
  background: conic-gradient(
    from 0deg,
    transparent 0deg,
    transparent 70deg,
    rgba(59,130,246,0.95) 95deg,
    rgba(19,63,227,0.95) 120deg,
    rgba(242,5,92,0.95) 145deg,
    transparent 170deg,
    transparent 360deg
  );

  filter: blur(10px);

  animation: waveBorderSpin 2.6s linear infinite;
  animation-play-state: paused; /* Initially stop */
  opacity: 0;                   /* Hide initially */
  transition: opacity 0.3s ease;
}

.group:hover .wave-border {
  animation-play-state: running; /* Start on hover */
  opacity: 1;                    /* Show on hover */
}

@keyframes waveBorderSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}